{% extends 'base.html' %}


{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Producten</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h1>Producten</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-12 col-md-4 col-lg-3">
                <a href="{{ product.id }}/{{ product.slug }}" class="card">
                    <img src="{{ product.afbeelding }}" class="card-img-top" alt="{{ product.naam }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.naam }}</h5>
                        <p class="card-text">{{ product.beschrijving }}</p>
                        {% if product.actieprijs > 0 %}
                            <p class="card-text"><s>&euro; {{ product.prijs|floatformat:2 }}</s></p>
                            <p class="card-text">&euro; {{ product.actieprijs|floatformat:2 }}</p>
                        {% else %}
                            <p class="card-text">&euro; {{ product.prijs|floatformat:2 }}</p>
                        {% endif %}
                        <button href="#" class="btn btn-primary">In winkelwagen</button>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}